.auth-container {
    display: flex;
    padding: 40px 40px 100px 0;
    justify-content: center;
    background: url('../../core/assets/images/bg-login.svg') no-repeat bottom;
    background-size: 100%;
}

.auth-info-title { 
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-top: 35px;
    margin-bottom: 55px;
    margin-left: 70px;
}

@media (max-width: 768px) {
    .auth-info-content {
        display: none;
    }

} 