.contract-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
}

.contract-card-text {
    display: block;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.card-contracts-data {
    display: flex;
}

.info-card-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 22px;
}

.info-card-marg {
    margin-left: 120px;
    margin-right: 120px;
}

.card-contracts-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


