.contract-value-container {
    display: flex;
}

.contract-currency {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.contracts-value {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #0f547b;
}