.contract-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    display: flex;
    justify-content: center;
}

.contract-card-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-right: 25px;
}

.card-contracts-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-contracts-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

