.home-container {
    background: url(../../core/assets/images/background.svg);
    background-size: 100vh;
}

.home-content {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 150px;
}

.text-title {
    font-size: 85px;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #FFF;
    margin-bottom: 20px;
}

.text-subtitle {
    padding-top: 10px;
    font-size: 35px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFF;
    margin-bottom: 45px;
    transform: translateY(10px);
}

.text-subtitle-2 {
    margin-bottom: 200px;
    color: #FFF;
}

@media (max-width: 786px) {
    .text-title {
        font-size: 2.5em;
        text-align: center;
        line-height: 50px;
        letter-spacing: 0;
    }
    
}


